NEXT_PUBLIC_API_BASE_URL=http://localhost:5000
NEXT_PUBLIC_APP_NAME=Bravantus
NEXT_PUBLIC_SITE_URL=https://seudominio.com
NEXT_PUBLIC_CONTACT_EMAIL=contato@seudominio.com
NEXT_PUBLIC_GOOGLE_ADS_ID=
NEXT_PUBLIC_GOOGLE_ADSENSE_ACCOUNT=ca-pub-1860520355492237
NEXT_PUBLIC_GOOGLE_ADSENSE_SLOT=8419006487
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
